<a href="https://colab.research.google.com/github/Baabi0515/Python-print_conditions-colab/blob/main/Python_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Memory Allocation

In [ ]:
a='data'  #will save in the memory
print(a) #calling from memory

data

In [ ]:
a='data science'
print(a)

data science

In [ ]:
a='data science'
print(a[7])

i

In [ ]:
print(a[2])

t

In [ ]:
print(a[-10])

t

In [ ]:
#Slicing :- To acess the multiple characters
a='data science'
print(a[2])

t

In [ ]:
print(a[2]+a[3])

ta

In [ ]:
't' +'a'

'ta'

In [ ]:
print(a[2:6])

ta s

In [ ]:
print(a[2:8])

ta sci

In [ ]:
print(a[1:8])

ata sci

In [ ]:
print(a[2: ])

ta science

In [ ]:
print(a[1: ])

ata science

In [ ]:
print(a[:: -1])

ecneics atad

In [ ]:
# Skipping
a='data science'
print(a[:: 2])

dt cec

In [ ]:
print(a[:: 1])

data science

In [ ]:
print(a[::3])

dacn

String is mutable or immutable-> prove it

In [ ]:
# trying to increase the memory
a='data'
a[4]='j'
print(a)

TypeError: 'str' object does not support item assignment

In [ ]:
# to reduce the memory
a='data'
del a[2]
print(a)

TypeError: 'str' object doesn't support item deletion

From above the operation string is immutable

Built_in_functions-> in strings

In [ ]:
import math

In [ ]:
len(dir (math))

65

In [ ]:
len(dir(str))

81

Functions for data science Community

capitalize

title

lower

upper

islower

isupper

isalpha

isnumeric

isalnum

startswith

endswith

replace

membership

Ascii concepts

ord

chr

split

join

count

In [ ]:
# capitalize-> this function will convert only first letter into capital and remaining all into small letters

a="inDIA"

a=a.capitalize()
print(a)

India

In [ ]:
# capitalize-> this function will convert only first letter into capital and remaining all into small letters

a="i Am worKINg in inDIA"

a=a.capitalize()
print(a)

I am working in india

In [ ]:
# Tittle->This function will convert each word first letter into capital and remaining all into small
a="i Am worKINg in inDIA"
a=a.title()
print(a)

I Am Working In India

In [ ]:
# lower->This function is used to convert into all capital letters into small if all small means small only

a='inDIA'
a=a.lower()
print(a)

india

In [ ]:
# upper->This function is used to convert into all small letters into captial if all captial means captial only

a='inDIA'
a=a.upper()
print(a)

INDIA

In [ ]:
#Replace= This function is the replace the characters

a='data'
a=a.replace('t','j')
print(a)

daja

In [ ]:
#Replace= This function is the replace the characters

a='data science'
a=a.replace('a','p')
print(a)

dptp science

In [ ]:
#Replace= This function is the replace the characters

a='data science'
a=a.replace('a','p',1)
print(a)

dpta science

In [ ]:
# is lower->will check whether all are small are not
a='inDIA'
a=a.islower()
print(a)

False

In [ ]:
# is lower->will check whether all are small are not
a='india'
a=a.islower()
print(a)

True

In [ ]:
# is upper-> will check whether all are capital or not
a='INDIA'
a=a.isupper()
print(a)

True

In [ ]:
#is alpha-> will check whether all are alpha are not
a='unitedkingdom123'
a=a.isalpha()
print(a)

False

In [ ]:
#is alpha-> will check whether all are alpha are not
a='unitedkingdom'
a=a.isalpha()
print(a)

True

In [ ]:
#is numeric->will check whether all are numeric are not

a='12345'
a=a.isnumeric()
print(a)

True

In [ ]:
#is numeric->will check whether all are numeric are not

a='12345absd'
a=a.isnumeric()
print(a)

False

In [ ]:
#isalnum-> any thing is possible

a='12345absd'
a=a.isalnum()
print(a)

True

In [ ]:
# startswith->check whether the character is starting are not

a="data science"
a=a.startswith('d')
print(a)

True

In [ ]:
#endswith-> check whether the character is ending are not

a="data science"
a=a.endswith('e')
print(a)

True

In [ ]:
#count->is used to count the number of characters
a='data science'
a=a.count('a')
print(a)

2

In [ ]:
a='data science'
a=a.count('n')
print(a)

1

In [ ]:
#index->used to find the index
a='data science'
a=a.index('t')
print(a)

2

In [ ]:
a='I am from india'  # deafaulty will break at space
b=a.split()
print(b)

['I', 'am', 'from', 'india']

In [ ]:
a='I am.from.india'
b=a.split('.')
print(b)

['I am', 'from', 'india']

In [ ]:
# join
a=['usa','uk','india']
b='+'.join(a)
print(b)

usa+uk+india

In [ ]:
#join
a=['india','america','canada']
b='_'.join(a)
print(b)

india_america_canada

In [ ]:
a='india usa uk'
b=a.split()
print(b)
b.append('canada')
print(b)
c='_'.join(b)
print(c)

['india', 'usa', 'uk']
['india', 'usa', 'uk', 'canada']
india_usa_uk_canada

In [ ]:
a='india uk usa'

b=a.split()
print(b)
b.append('singapore')
print(b)
c='_'.join(b)
print(c)

['india', 'uk', 'usa']
['india', 'uk', 'usa', 'singapore']
india_uk_usa_singapore

In [ ]:
# split
a= 'iam learning in python'
b=a.split( )
print(b)

['iam', 'learning', 'in', 'python']

In [ ]:
#split
a = 'I am .learning. in.python'
b=a.split('.')
print(b)

['I am ', 'learning', ' in', 'python']

In [ ]:
# Remove vowels
a = 'data science'

b=list(a)
print(b)

b.remove('a')
b.remove('e')
b.remove('i')
b.remove('a')
b.remove('e')

c = ''.join(b)
print(c)

['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']
dt scnc

In [ ]:
# Netmeds interview question

a = 'i.love.programming.language'

# output = language.programming.love.i

'.'.join('i. love .programming.language'.split('.')[::-1])

'language.programming. love .i'

In [ ]:
'.'.join('i.love.programming.language'.split('.')[::-1])

'language.programming.love.i'